
body {
  font-family: Arial, sans-serif;
  background-color: rgb(22, 130, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
  color: #000000;

  /* фон */
  background-image: url("newTarraQuest.jpg");
  background-repeat: no-repeat;       /* не повторять картинку */
  background-position: center top;    /* положение картинки */
  background-size: 100% auto              /* сохраняем оригинальный размер */
}
a.back-link {
  margin-top: 200px;
  display: inline-block;
  text-decoration: none;
  color: rgb(16, 92, 1);
  font-weight: bold;
}

a.back-link:hover {
  text-decoration: underline;
}

h1 {
  color: rgb(22, 130, 0);
  margin-top: 170px;
  font-size: 70px;
  text-shadow: 2px 0 rgb(16, 92, 1), -2px 0 rgb(16, 92, 1), 0 2px rgb(16, 92, 1), 0 -2px rgb(16, 92, 1),
               1px 1px rgb(16, 92, 1), -1px -1px rgb(16, 92, 1), 1px -1px rgb(16, 92, 1), -1px 1px rgb(16, 92, 1);
}