
body {
font-family: Arial, sans-serif;
  background-color: rgb(22, 130, 0);  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
  color: #000000;
  background-image: url("tarraquest.png");
}

h1 {
  color: rgb(22, 130, 0);
  margin-bottom: 10px;
  font-size: 70px;
  text-shadow: 2px 0 rgb(16, 92, 1), -2px 0 rgb(16, 92, 1), 0 2px rgb(16, 92, 1), 0 -2px rgb(16, 92, 1),
               1px 1px rgb(16, 92, 1), -1px -1px rgb(16, 92, 1), 1px -1px rgb(16, 92, 1), -1px 1px rgb(16, 92, 1);
}

.upload-container {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

input[type="file"] {
  margin-top: 15px;
}

button {
  background: rgb(16, 92, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: rgb(22, 130, 0);
}

#result {
  margin-top: 15px;
  font-weight: bold;
  color: #1d3557;
}

.error {
  color: #e63946;
}

.success {
  color: #2a9d8f;
}

a.back-link {
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  color: rgb(16, 92, 1);
  font-weight: bold;
}

a.back-link:hover {
  text-decoration: underline;
}
body {
font-family: Arial, sans-serif;
  background-color: rgb(22, 130, 0);  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
  color: #000000;
  background-image: url("tarraquest.png");
}

h1 {
  color: rgb(22, 130, 0);
  margin-bottom: 10px;
  font-size: 70px;
  text-shadow: 2px 0 rgb(16, 92, 1), -2px 0 rgb(16, 92, 1), 0 2px rgb(16, 92, 1), 0 -2px rgb(16, 92, 1),
               1px 1px rgb(16, 92, 1), -1px -1px rgb(16, 92, 1), 1px -1px rgb(16, 92, 1), -1px 1px rgb(16, 92, 1);
}

.upload-container {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 320px;
  text-align: center;
}

input[type="file"] {
  margin-top: 15px;
}

button {
  background: rgb(16, 92, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: rgb(22, 130, 0);
}

#result {
  margin-top: 15px;
  font-weight: bold;
  color: #1d3557;
}

.error {
  color: #e63946;
}

.success {
  color: #2a9d8f;
}

a.back-link {
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  color: rgb(16, 92, 1);
  font-weight: bold;
}

a.back-link:hover {
  text-decoration: underline;
}
