body {
  font-family: Arial, sans-serif;
  background-color: rgb(22, 130, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
  color: #000000;

  /* фон */
  background-image: url("newTarraQuest.jpg");
  background-repeat: no-repeat;       /* не повторять картинку */
  background-position: center top;    /* положение картинки */
  background-size: 100% auto              /* сохраняем оригинальный размер */
}


#registBT {
  padding: 15px 25px;
  margin-top: -50px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(99, 255, 15);
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registBT:hover {
  background-color: rgb(24, 68, 0);
}

#registerBtn {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(99, 255, 15);
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#registerBtn:hover {
  background-color: rgb(22, 130, 0);
}
/* Окно регистрации */
.modal-content {
  background-color: rgb(24, 68, 0);
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* половина страницы */
  max-width: 500px;
  text-align: center;
}

/* Поля ввода */
.modal-content input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.modal {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
}