html, body {
  height: 90%; 
  margin: 0;    
  padding: 0;
}
body{
font-family: Arial, sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 100px;
  color: #000000;
  background-image: url("tarraquest.png");

  
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
}

#RegCek {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(99, 255, 15);
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#RegCek:hover {
  background-color: rgb(24, 68, 0);
}